<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="80" [radius]="100" 
  
    [space]="-2"
    [showUnits]="false"
    imageSrc="../assets/html.png"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [outerStrokeWidth]="2" [innerStrokeWidth]="2"
      [outerStrokeColor]="'#808080'" [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="700">
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="65" [radius]="100" 
  
    [space]="-2"
    [showUnits]="false"
    imageSrc="../assets/CSS.png"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [outerStrokeWidth]="2" [innerStrokeWidth]="2"
      [outerStrokeColor]="'#808080'" [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="700">
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="70" [radius]="100" 
  
    [space]="-2"
    [showUnits]="false"
    imageSrc="../assets/git.png"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [outerStrokeWidth]="2" [innerStrokeWidth]="2"
      [outerStrokeColor]="'#808080'" [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="700">
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="65" [radius]="100" 
  
    [space]="-2"
    [showUnits]="false"
    imageSrc="../assets/js.png"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [outerStrokeWidth]="2" [innerStrokeWidth]="2"
      [outerStrokeColor]="'#808080'" [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="700">
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="50" [radius]="100" 
  
    [space]="-2"
    [showUnits]="false"
    imageSrc="../assets/idiomaeng.png"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [outerStrokeWidth]="2" [innerStrokeWidth]="2"
      [outerStrokeColor]="'#808080'" [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="700">
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="80" [radius]="100" 
  
    [space]="-2"
    [showUnits]="false"
    imageSrc="../assets/trabgrupal.png"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [outerStrokeWidth]="2" [innerStrokeWidth]="2"
      [outerStrokeColor]="'#808080'" [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="700">
    </circle-progress>
  </div>
 
 
</div>
