<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li>
          <h1>Titulo obtenido 1 </h1>- <h3>(Years)</h3>
        </li>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, ut laboriosam, eum dolorem accusantium iste
          aut delectus illum ipsum quod fugit enim, odio corrupti neque! Iste sunt veritatis impedit amet?</p>
      </ul>
      <ul>
          <li>
            <h1>Titulo obtenido 2 </h1>- <h3>(Years)</h3>
          </li>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, ut laboriosam, eum dolorem accusantium iste
            aut delectus illum ipsum quod fugit enim, odio corrupti neque! Iste sunt veritatis impedit amet?</p>
        </ul>
        <ul>
          <li>
            <h1>Titulo obtenido 3 </h1>- <h3>(Years)</h3>
          </li>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, ut laboriosam, eum dolorem accusantium iste
            aut delectus illum ipsum quod fugit enim, odio corrupti neque! Iste sunt veritatis impedit amet?</p>
        </ul>
    </div>
  </div>
  